<div
  class="bg-image"
  style="background-image: url('/assets/img/background.png'); height: 100vh"
>
  <div class="text-white">
    <h2 class="text-center">Choose your deck</h2>
  </div>
  <div class="container h-75 d-flex justify-content-center">
    <div class="row align-items-center">

      <div class="hovereffect">
        <div class="col-sm" routerLink="/builder/yugioh">  
          <img src="assets/img/deckSelector/deckSelectorYugioh.png"  style="height: 300px;" />    
          <div class="overlay text-center">
              <p>Yugioh</p>
          </div>
        </div>
      </div>

      <div class="hovereffect">
        <div class="col-sm text-white" routerLink="/builder/pokemon">
          <img
            src="assets/img/deckSelector/deckSelectorPokemon.png" style="height: 300px; border-radius: 15px" />
            <div class="overlay text-center">
              <p>pokemon</p>
            </div>
          </div>
      </div>

      <div class="hovereffect">
        <div class="col-sm" routerLink="/builder/magic">
          <img src="assets/img/deckSelector/deckSelectorMagic.png" style="height: 300px;" />
          <div class="overlay text-center">
            <p>Magic</p>
          </div>
        </div>
    </div>

    </div>
  </div>
</div>
