<div
  class="bg-image pt-3 ps-3"
  style="background-image: url('/assets/img/background.png'); height: 100%"
>
  <app-form-card-search></app-form-card-search>
  <div
    class="container row justify-content-evenly mw-100 mt-3"
    *ngIf="!isLoading; else else_b"
  >
    <div class="text-center fs-1 text text-white">
      {{ cardData.card.name }}
    </div>
    <div class="text-white">
      <a (click)="back()" style="cursor: pointer"><- Back</a>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-4 text-white">
          <p>Descrption: {{cardData.card.text}}</p>
          <p>Flavor: {{cardData.card.flavor}}</p>
          <p>Power: {{cardData.card.power}}</p>
          <p>Toughness: {{cardData.card.toughness}}</p>
      </div>
      
      <div class="col-3">
        <img
          src="{{ cardData.card.imageUrl }}"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <!-- <div class="card col-4" style="width: 18rem">
        <div class="card-header">Abilities</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let abilitie of cardData.data.abilities"
        >
          <li class="list-group-item">
            {{ abilitie.name }}<br />
            {{ abilitie.text }}
          </li>
        </ul>
      </div>
      <div class="card col-4 ms-4" style="width: 18rem">
        <div class="card-header">Attacks</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let attack of cardData.data.attacks"
        >
          <li class="list-group-item">
            Name: {{ attack.name }}<br />
            Cost: {{ attack.cost }}<br />
            Damage: {{ attack.name }}<br />
            {{ attack.text }}
          </li>
        </ul>
      </div> -->
    </div>
  </div>

</div>
<ng-template #else_b>
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
