<div
  class="d-flex flex-column justify-content-center w-100 h-100 text-white"
  style="background-color: #2e3338; padding-top: 150px; padding-bottom: 150px"
>
  <div class="container">
    <h1>Users Data</h1>
    <br />
    <table class="table table-striped table-dark" id="usertable" #table >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Is Admin</th>
          <th scope="col">Update User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user._id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isAdmin }}</td>
          <td>
            <button class="btn btn-primary" [disabled]="user.isAdmin" (click)="updateUser(user._id)">Make admin</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <button type="submit" class="btn btn-primary" (click)="downloadAsPDF()">Generate pdf</button>
    <button type="submit" class="btn btn-primary" (click)="exportexcel()">Generate excel</button>
  </div>
</div>
