<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-3">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" routerLink="">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="loggedIn" routerLink="/deckselector">Deck builder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/yugioh">Card Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin" routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
