<div
  class="bg-image"
  style="background-image: url('/assets/img/background.png'); height: 100vh"
>
  <div class="container-fluid">
    <div class="row">
      <!-- Selected card data -->
      <div
        class="col-3 border border-white text-white overflow-hidden"
        style="word-wrap: break-word"
      >
        grid para info de las cartas
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        {{ cardType }}
      </div>
      <!-- Deck body -->
      <div
        class="col-6 border border-white text-white overflow-hidden"
        style="word-wrap: break-word"
      >
        Deck builder body
      </div>
      <!-- Card search selector -->
      <div
        class="col-3 border border-white text-white overflow-auto"
        style="word-wrap: break-word; height: 500px !important;"
      >
        <div class="p-1 border-white" *ngFor="let card of cardsData.data">
          <div class="card-header border-dark bg-transparent">
            <img
              src="{{ card.img }}"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body d-flex flex-column border-dark">
            <h5 class="card-title">{{ card.name }}</h5>
            <p class="card-text">{{ card.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
