<form class="mb-3" [formGroup]="cardToSearcgGroup">
  <div class="row">
    <div class=" col-3 me-2 mb-2">
        <div class="">
            <div class="">
                <input
                  id="cardToSearch"
                  type="text"
                  class="form-control"
                  placeholder="Card Name:"
                  formControlName="cardToSearch"
                />
            </div>
        </div>
    </div>
    <div class=" col-2 me-2 mb-2">
        <div class="">
            <div class="">
                <select
                  class="form-select"
                  aria-label="Game"
                  formControlName="categoryToSearch"
                  [value]=''
                  (change)="changeState()"
                >
                  <option hidden value="" selected>Game category </option>
                  <option value="Magic" >Magic!</option>
                  <option value="Pokemon">Pokemon</option>
                  <option value="Yugioh">Yu-Gi-Oh</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-2">
      <button class="btn btn-success w-100 h-auto  {{buttonClass}}" (click)="searchCard()"  >Search</button>
    </div>
  </div>
</form>
