
  <div class="bg-image"
  style="
    background-image: url('/assets/img/background.png');
    height: 100vh;
  ">
    <div class="Container">
    <div class="row row-cols-2">
            <div class="col-8">
                <img class ="images" src="assets/img/homeImage.png">
            </div>
            <div class="col-4 text-white align-self-start ">
                    <h1 class="text">TITULO POR DEFINIR</h1>
                    <h4>tu deck builder favorito de trading card game</h4>
            </div>
         </div>
    </div>
</div>
