<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
  <div class="bg-image"
  style="
    background-image: url('/assets/img/background.png');
    height: 100vh;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  ">
  <div class="Container d-flex justify-content-center" style="padding-top: 15vh;">
    <div class="row row-cols-2">
            <div class="col-7 align-self-start">
                <img class ="images" src="assets/img/homeImage.png">
            </div>
            <div class="col-5 text-white justify-content-center" 
            style="word-wrap: break-word; padding-left: 10px;
            
            font-family: 'Comfortaa', cursive" >
                    <h1 class="text"  >TITULO POR DEFINIR</h1>
                    <h4>tu deck builder favorito de trading card game </h4>
            </div>
         </div>
    </div>
</div>
