
<div class="bg-image"
style="
  background-image: url('/assets/img/background.png');
  height: 100vh;
">
    <div class="container-fluid">


        <div class="row">
        <div class="col-3 border border-white text-white overflow-hidden" style="word-wrap:break-word">
            grid para info de las cartas aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
        <div class="col-6 border border-white text-white overflow-hidden" style="word-wrap:break-word">
            Deck builder body
        </div>
        <div class="col-3 border border-white text-white overflow-hidden" style="word-wrap:break-word">
            card search
        </div>
        </div>
  
    </div>

</div>